
@{
    ViewBag.Title = "Project Opening";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h2>Project Opening</h2>
    </div>
</div>

    <div class="row mt30">
        <div class="col-md-12">
            <div class="custom-tab-ul">

                <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">

                        <div class="row">
                            <div class="col-md-6">
                                <br /><br /><br /><br /><br /><br />
                                <h2> Page development under progress!!! </h2>
                            </div>
                            <div class="col-md-6">
                                <img src="~/Content/IOASContent/img/404-error-img.png" alt="ICSR">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>

