<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">    <title>@ViewBag.Title</title>
    <!-- common css -->
    <!-- Bootstrap 3.3.7-->
    <link href="~/Content/IOASContent/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/IOASContent/css/custom-css.css" rel="stylesheet" />
    <!--owl carousel -->
    <link href="~/Content/IOASContent/css/owl.carousel.css" rel="stylesheet" />
    <!-- Links of fonts -->
    <link href="~/Content/IOASContent/css/font-awesome.css" rel="stylesheet" />
     <!-- Links of fontsawesome -->
    <link href="~/Content/IOASContent/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Links of ionicons -->
    <link href="~/Content/IOASContent/css/ionicons.css" rel="stylesheet" />
    <!-- Links of ionicons.min -->
    <link href="~/Content/IOASContent/css/ionicons.min.css" rel="stylesheet" />

   
    <!--JS-->
    @*<script src="@Url.Content("~/Content/IOASContent/js/jquery.min.1.11.3.js")"></script>*@
    <!--bootstrap.min.js-->
    <script src="~/Content/IOASContent/js/bootstrap.min.js"></script>
    <!--bootstrap.js-->
    <script src="~/Content/IOASContent/js/bootstrap.js"></script>
    <!--myscripts-->
    <script src="~/Content/IOASContent/js/myscripts.js"></script>
   
    <!--owl.carousel-->
    <script src="~/Content/IOASContent/js/owl.carousel.min.js"></script>
   
</head>
<body>
    
    @RenderBody()
   
</body>
</html>
