@using IOAS.Infrastructure
@{
    var username = User.Identity.Name;
    
    var userRoles = Common.GetRoleId(username);

}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
<div class="row">
    
    <div class="navbar navbar-hd-bg ">

        <div class="navbar-header">
            <h5>IOAS</h5>
        </div>
        
        <ul class="nav navbar-right">
           
            <li class="dropdown pull-right user-pr-icon">
                
                    <span data-toggle="dropdown"><a href="#">@username<i class="glyphicon glyphicon-user"></i> <b></b></a></span>
              
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Change Password", "ChangePassword", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Logout", "LogOff", "Account")
                    </li>
                    </ul>
                </li>

            <li class="dropdown pull-right">
                <a class="circle-btn-wht" href="#">
                    <i class="ion-ios-email-outline"></i>
                </a>
            </li>

            <li class="dropdown pull-right">
                <a class="circle-btn-wht" href="#">

                    <i class="ion-ios-bell-outline"></i>
                </a>
            </li>
           
        </ul>


    </div>
    
</div>
    }
}