	@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i');
body{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	font-weight:300;
	color: #0b1522;	
	background:#c0ccef;
	letter-spacing:0.5px;

}
.h3, h3 {
    font-size: 16px;
}
.h4, h4 {
    font-size: 14px;
}

.main-content{	
	background: #0b1522;
	float: left;
	width: 100%;
}
.rgt-cnt{
	margin: 0px 0px 0px 0px;
	min-height: 650px;
	/*position: relative;*/
	z-index: 2;
	float: left;
	width: calc(100% - 60px);
	float: left;
	background:#c0ccef;
	padding:0px 15px;
}
.panel-body {
     letter-spacing: 0.5px;
}
.wrapper {
	width: 100%;
	/*overflow-x: hidden;*/
}

.sidebar-nav{
	z-index: 2;
	width: 60px;
	margin-left: 0px;
	min-height: 300px;
	height: 100%;
	overflow-y: auto;
	margin-top: 70px;
	float: left;
}

.sidebar-nav .nav-ls {		
	display: inline-block;
	width: 100%;		
}

.sidebar-nav .nav-ls .logo{
	position: absolute;
	top: 0;
	z-index: 1000;
	background: #fff;
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 1001;
}

.sidebar-nav .nav-ls ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav .nav-ls ul li a{
	color: #d9d9d9;
	text-decoration: none;
	padding: 15px 20px 15px 15px;
	display: inline-block;
	width: 100%;
	transition: all ease-in-out 0.3s;
	font-size: 13px;
	text-align: center;
}

.sidebar-nav .nav-ls ul li ul li a{
	color:#fff;
}
.sidebar-nav .nav-ls ul li a i.ar {
	position: absolute;
	right: 12px;
	top: 15px;
}

.sidebar-nav .nav-ls ul li a.active{
	color:#597df0;
	font-weight:bold;
}
.sidebar-nav .nav-ls ul li a.active::before{

}
.sidebar-nav .nav-ls ul li a:hover{
	color:#597df0;
	font-weight:bold;
	
}
.sidebar-nav .nav-ls ul li a:hover::before{
	background:#597df0;
	border-color:#597df0;
}

.sidebar-nav .nav-ls ul li a.active::before{
	background:#597df0;
	border-color:#597df0;
}
.sidebar-nav .nav-ls ul li ul li a.active::after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 0px;
	height: 0px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #fff;
	right: -17px;
	top: -3px;
}


.sidebar-nav .nav-ls ul li ul li a:hover{
}
.sidebar-nav .nav-ls ul li ul li a::before{
	position: absolute;
	left: 3px;
	right: 0;
	width: 15px;
	height: 15px;
	border: 2px solid #fff;
	border-radius: 30px;
	z-index: 1;
	top: 12px;
	content: "";
}
.sidebar-nav .nav-ls ul li{
	border-bottom:1px solid rgba(255,255,255,0.1);
	position:relative;
	}
.sidebar-nav .nav-ls ul li.active a{
	color:#597df0;	
}
.sidebar-nav .nav-ls ul li.active::before{
	position: absolute;
	right: 0;
	top: 20px;
	content: "";
	z-index: 1;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #fff;	
}	
.sidebar-nav .nav-ls ul li ul li{
	border-bottom:0px;
	}	
.sidebar-nav .nav-ls ul li ul {
	margin:0px 15px 0px 15px;
}
.sidebar-nav .nav-ls ul li a i{
	margin-right:0px;
	font-size:20px;			
}

.sidebar-nav .nav-ls ul li ul li a {
	padding: 10px 10px 10px 30px;
	font-size: 13px;
	width: 100%;
	margin-bottom: 5px;	
}
.sidebar-nav .nav-ls ul li ul{
	position:relative;
}
.sidebar-nav .nav-ls ul li ul li a:hover::before{
	background:#597df0;
}

.pr-icn{
	padding: 15px;
	text-align: center;
}
.pr-icn .icn{
	width: 50px;
	height: 25px;
	border-radius: 30px;
	line-height: 25px;
	text-align: center;
	background: #fff;
	display: inline-block;
	margin-top: 0px;
	z-index: 2;
	margin-bottom: 10px;
	color:#597df0;
	cursor:pointer;
}
.pr-icn .icn i{
	font-size:20px;
	
}
.pr-icn span{
	display:inline-block;
	width:100%;
}
.pr-icn a{	
	color: #fff;
	text-decoration:none;
}
.pr-icn a i{
	margin-left:10px;
}
.navbar.navbar-hd-bg{
	color: #fff;
	margin-bottom: 0px;
	width: 100%;
	background: #fff;
	min-height: 70px;
	z-index: 1000;
	box-shadow: 1px 0px 4px rgba(0,0,0,0.2);
	border-radius: 0;
}
.navbar.navbar-hd-bg li a i{
	font-size:20px;
}

.navbar.navbar-hd-bg .nav > li > a {
	position: relative;
    display: block;
    padding: 5px 0px;
    border-radius: 50% !important;
    margin-right: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-top: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.navbar.navbar-hd-bg .navbar-right{
	margin-right: 15px;
	margin-top: 7px;
}
.navbar.navbar-hd-bg .navbar-header{
   margin-left: 30px;
   margin-top: 20px;
	}
	
.navbar.navbar-hd-bg .navbar-header a{
	color: #0b1522;
	font-weight: normal;
	float: left;
	font-size: 16px;
	margin-left: 180px;	
}

.navbar.navbar-hd-bg .navbar-header h5 {
    color: #0b1522;
    font-weight: normal;
    float: left;
    font-size: 16px;
	margin-top: 3px;
}

.hd-tt-bg{			
	border-bottom: 1px solid rgba(0,0,0,0.07);
	padding: 15px 15px;
	/*box-shadow: 1px 1px 1px rgba(255,255,255,0.5);*/	
	background: #597df0;
	color: #fff;
}
.hd-tt-bg h2{		
	margin: 10px 0 0 0 ;
	color: #597df0;
	font-size: 18px;
	font-weight: 300;
}
.hd-tt-bg h3{
	margin-top: 3px;
	margin-bottom: 0px;
}
.hd-tt-bg h4 em{	
	font-style:normal;
}
.mt30{
	margin-top:30px;
}
.mr10{
	margin-right:10px;
}
.ml10{
	margin-left:10px;
}
.ml15{
	margin-left:15px;
}

		
.table{
	background: #fff;
	border-color: #fff;
	border-radius: 0px;
	margin-top: 0px;
	margin-bottom:30px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 15px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ecf0fa;
	font-size: 14px;
	font-weight: 200;
}	
.table > thead > tr > th { font-weight:bold;
background: #fff;
border-bottom: 0px;
padding: 20px 15px;
}
.table tbody tr:hover{
	background:#f6f6f6;
	}	
.custom-form-group{
	margin-bottom: 30px;
    width: 100%;
    display: inline-block;
	} 
.custom-form-group label{
	font-weight: 400;
	font-size: 14px;
	color: #777;
	letter-spacing: 0.5px;
}
.custom-form-group .form-control{
	background:#fff;	
	border: 1px solid #cccccc;
	height:40px;
	box-shadow:none;
	border-radius: 8px;
	padding: 5px 15px;
	color:#0b1522;
	
}
.btn {
	padding: 5px 20px;
	margin-right: 5px;
}



.custom-tab-ul .nav-pills > li{
	float:none;
	display:inline-block;
}


.custom-tab-ul > .nav-pills > li.active > a,.custom-tab-ul > .nav-pills > li.active > a:focus,.custom-tab-ul > .nav-pills > li.active > a:hover{
	background: #fff;
	color: #597df0;
	font-weight: bold;
	border-top: 2px solid #597df0;
}
.custom-tab-ul > .nav-pills > li > a{
	color:#555;
	padding: 15px 30px;
	border-radius: 4px 4px 0px 0px;
	margin-right: 15px;
}
.custom-tab-ul > .nav-pills > li > a:hover,.custom-tab-ul > .nav-pills > li > a:focus{
		color:#597df0;
		/*font-weight:bold;*/
		background:transparent;		
}
.custom-tab-ul > .tab-content{
	border-radius: 0px 8px 8px 8px;	
	margin: 0;
}
.custom-tab-ul textarea.form-control {
    height: auto;	
}
.custom-accordion .panel-heading {
    padding: 15px 15px;
	background: #f6f6f6;
	color:#444;	
}
.custom-accordion .panel-title {
    margin-top: 0;
    margin-bottom: 0;
   font-size: 15px;
}
.custom-accordion .panel-title a{
	text-decoration:none;
	}
.custom-accordion.panel-group .panel + .panel {
    margin-top: 15px;
}

.alert-info {
    color: #fff;
    background-color: #597df0;
    border-color: #597df0;
}
.alert-warning {
    color: #525111;
    background-color: #f2f050;
    border-color: #f2f050;
}

.ad-box.fx-wdt {
    width: 300px;
    float: left;
    margin: 15px 15px;
}
.ad-box {
    background: #fff;
    min-height: 150px;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    padding: 15px;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.02);
    display: inline-block;
    width: 100%;
}
.ad-box h4	{
font-weight: 200;
}

.lg-ds{
	background:#fff;
	position:relative;
	z-index:1;	
}

.lg-ds .lg-hd{
	padding: 20px 30px;
	margin: 0;
}
.lg-ds .logo{
	margin-top:100px;
}
.lg-ds .lg-hd{
	margin-top: 20px;
	font-size: 25px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.lg-rgt-ds{
	border-radius: 4px;
	width: 400px;
	margin:0 auto;
}
.lg-ds .lg-cnt{
    padding: 0px 30px 0px 30px;
}
.lg-ds .lg-cnt label{
}
.pd-null{
	padding:0;
}
.lg-ds .lg-cnt .custom-form-group .form-control {
    background: #e3e5f1;
    box-shadow:none;
    border: 0px solid #e3e5f1;
    color: #0b1522;
	height: 50px;	
}
.lg-ds .lg-ft{
    padding: 0px 30px 60px 30px;
    display: inline-block;
    width: 100%;
    float: left;
    min-height: 0px;
}
.lg-ds .lg-ft .fd-btn{
	width:100%;
	display:inline-block;
	margin-bottom:15px;
	color:#0b1522;
	text-decoration:underline;
}
.lg-ds .btn.btn-primary,.lg-ds .btn.btn-default {
	padding: 10px 25px;
	margin-top: 10px;
}

.lg-ds .btn.btn-default {
	padding: 10px 25px;
	margin-top: 10px;
	border-color: #e3e5f1;
}


.fr-pwd .logo{
	margin-top:50px;
}

.ds-num-txt{
	font-size: 40px;
	font-weight: 100 !important;
	margin-bottom: 0px !important;
	opacity: 0.6;
}
.ds-num-txt .rgt-icn{
	float: right;
	margin-right: 30px;
}
.bg-warning{
background:#fc9208;
color:#fff;
}
.bg-danger{
background:#ee514e;
color:#fff;
}

.btn .btn-default{
	background:#fff;
	border:1px solid #444;
}

.custom-fd-dts{
    border-radius: 4px;
    padding: 30px;
    margin: 30px 15px;
    border: 1px solid #ccc;
}
.custom-fd-dts h3{
font-size: 16px;
margin-bottom: 30px;
position:relative;
}

.custom-fd-dts h3::before{
	position:absolute;
	bottom:-10px;
	background:#597df0;
	width:50px;
	height:2px;
	content:"";
	z-index:1;
}
.custom-fd-dts .sep-line{
	width: 103%;
	height: auto;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	box-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	margin: 20px -15px 30px -15px;
}

.flt-nav-links{
	margin-top: 2px;	
	text-align:right;	
	}
.flt-nav-links a{
	color:#fefefe;
	margin-left: 20px;
	}
.flt-nav-links a i{
	margin-right:15px;
}	
.search-btn .form-control{
	background: rgba(255,255,255,0.3);
	font-size: 13px;
	color: #fff;
	width: 190px;
	float: left;
	border-radius: 30px;
	border: 0px;
	height: 30px;	
}
.search-btn .btn{
	padding: 5px 10px;
	border-radius: 30px;
	background: rgba(255,255,255,0.2);
	color: #fff;
	margin-left: 10px;
}
.search-btn .btn i{
	margin-right:0px;	
}

.tb-pg-nav{
	background:#0b1522 !important;
	color:#fff;
}
.tb-pg-nav td a{
	margin-right:5px;
	cursor:pointer;
	color:#fff;
}

.tb-pg-nav td a .icon{
	width:100%;
	float:left;	
}

.tb-pg-nav td a.active{
	color:#597df0;
}
.tb-pg-nav td:nth-child(1){
	text-align:left;
}
.tb-pg-nav td:nth-child(2){
	text-align:center;
	padding-top: 25px;
}
.tb-pg-nav td:nth-child(3){
	text-align:right;
}
.white-bg{
	padding: 30px;
	background: #fff;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
	margin: 30px 0px 0px 0px;
}
.page-wrapper{
	padding:0px 15px;
	}
	
label.checkbox,
label.radio {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 25px !important;
  position: relative;
  line-height: 19px;
  font-weight: normal;
}
label.checkbox input[type="checkbox"],
label.radio input[type="checkbox"],
label.checkbox input[type="radio"],
label.radio input[type="radio"] {
  display: none;
}
label.checkbox span,
label.radio span {
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/checkbox-2x.png) -90px 0 no-repeat;
  background-size: 110px 110px;
}
label.checkbox input[type="radio"]:checked + span,
label.radio input[type="radio"]:checked + span,
label.checkbox input[type="checkbox"]:checked + span,
label.radio input[type="checkbox"]:checked + span {
  background-position: -60px -30px;
}
label.checkbox input[type="radio"]:disabled + span,
label.radio input[type="radio"]:disabled + span,
label.checkbox input[type="checkbox"]:disabled + span,
label.radio input[type="checkbox"]:disabled + span {
  background-position: -30px -60px;
  cursor: not-allowed;
}
label.checkbox input[type="radio"]:disabled:checked + span,
label.radio input[type="radio"]:disabled:checked + span,
label.checkbox input[type="checkbox"]:disabled:checked + span,
label.radio input[type="checkbox"]:disabled:checked + span {
  background-position: 0 -90px;
  cursor: not-allowed;
}
label.radio span {
  background-image: url(../img/radio-2x.png);
}
label.checkbox:hover,
label.radio:hover {
  color: #999;
}
label.checkbox.disabled,
label.radio.disabled {
  color: #999;
  cursor: not-allowed;
}	
.btn.btn-default{
	background:transparent;
	border-color: #0b1522;
	color:#0b1522;	
}
.btn.btn-default:hover{
	background:#0b1522;
	color:#fff;
}

.btn.btn-success {
	background:#24b427;
	border-color: #24b427;
	color:#fff;
}
.btn.btn-success:hover{
	background:#1e9620;
	color:#fff;
}

.btn.btn-primary {
	background:#597df0;
	border-color: #597df0;
	color:#fff;
}
.btn.btn-primary:hover{
	background:#3b5dc9;
	border-color:#3b5dc9;
	color:#fff;
}

.btn.btn-danger:hover{
	background:#c93131;
}

.btn.btn-danger {
    background: #f03939;
    color: #fff;
    border-color: #f03939;
}
.pd-tb-30{
	padding: 30px 0px;
}

.sb-cnt-bg{
	margin:0px 15px 30px 15px;
}

.grd-box{
	background: #597df0;
	border-radius: 8px;
	display: inline-block;
	width: 100%;
	min-height: 425px;
	margin-top: 30px;
	margin-bottom:30px;	
}
.grd-box h3{
	width: 100%;
	padding: 15px;
	background: #fff;
	font-size: 15px;
	border-radius: 4px 4px 0px 0px;	
	margin-top: 0;	
	color: #0b1522;
}
.grd-box .frm-sp-txt{
	margin: 0px;
	display: inline-block;
	width: 100%;
	}
.grd-box .frm-sp-txt label{
	color:#fff;
	}
.grd-box .form-control{	
background: rgba(0,0,0,0.2);
border-color: rgba(255,255,255,0.4);
color:#fff;
}
	
.mt-xs{margin-top: 5px !important;}
.mt-sm{margin-top: 10px;}
.mt-md{margin-top: 15px;}
.mt-lg{margin-top: 30px;}


.custom-table-bg{
	width:100%;
	height: 230px;
	overflow:auto;
}
.custom-table-bg .table{ background:transparent;color: #fff; border-top:1px solid rgba(255,255,255,0.4);border-bottom:1px solid rgba(255,255,255,0.4); }
.custom-table-bg .table > tbody > tr:hover,.custom-table-bg .table > tbody > tr.active{
	background:#18cf00;
	color:#fff;
}
.custom-table-bg .table > thead > tr > th,.custom-table-bg .table > tbody > tr > td,.custom-table-bg .table > thead:first-child > tr:first-child > th,.custom-table-bg .table > tbody > tr > th{
	border-color:rgba(255,255,255,0.4);
	background:transparent;
	}
	
.custom-table-bg .table > tbody > tr > td > a > i{
	color:#fff;
	font-size:18px;
	margin-right:5px;
}	

.grd-box .form-group{ 	
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 15px;	
}
.grd-box .form-group .btn.btn-default{
	background:#fff;
	color:#597df0;
	border-color:#fff;
	}
.grd-box .form-group .btn.btn-default:hover{
	background:#597df0;
	color:#fff;
}
.grd-box .form-group .btn.btn-transparent{
	color:#fff;
	border:1px solid rgba(255,255,255,0.5);	
}
.grd-box .form-group .btn.btn-transparent:hover{
	background:#fff;
	color:#597df0;	
}
.grd-box.bg-green h3 span{
	color:#18cf00;
}
.grd-box.bg-green .btn.btn-default{
	background:#fff;
	color:#18cf00;
}
.grd-box.bg-green .btn.btn-default:hover{
	background:#18cf00;
	color:#fff;	
}

.bg-green{
	background:#18cf00 !important;
}

.mn-hgt-230{
	min-height: 230px;
}

.spl-title{
	margin-bottom: 30px;
	color: #597df0;
	font-weight: bold;
	border-radius: 4px;
	font-size: 15px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 15px;
	border-radius: 0px;
	margin-top: 0px;
}

.mt-60{
	margin-top: 60px;
}
.mt-40{
	margin-top: 60px;
}
.swap-btn{
font-size: 20px;
display: inline-block;
width: 100%;
text-align: center;
color: #000;
background: #597df0;
color: #fff;
height: 40px;
line-height: 40px;
border-radius: 4px;
}

.swap-btn:hover{
	background:#fff;
	border:1px solid #597df0;
	color:#597df0;	
}

.bg-gray{    
	background: #f6f6f6;
    padding-top: 30px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.chkbox-adj{
width: auto;
float: left;
margin-right: 15px;
}
label.checkbox, label.radio {
    margin-top: 10px !important;
}


.lg-logo-bg{
	text-align: left;
	padding: 5px;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.lg-logo-bg img{
	width:75%;
	margin:0 auto;
}

textarea.form-control {
    height: auto !important;
}
.modal-body {
    position: relative;
    padding: 15px 0px;
}
.modal-header{
	background: #597df0;
	color:#fff;
}
.modal-footer{
	background:#f6f6f6;
}
.wz-tb .wz-tb-tt {
    display: table-cell;
    width: 50px;
    padding: 5px;
    float: left;
    margin-top: 0px;
    margin-left: -54px;
    position: absolute;
}
.wz-tb .wz-tb-tt img {
    width: 100%;
    border-radius: 50%;
	border:3px solid #fff;
}
.wz-tb .wz-tb-bd {
    display: table-cell;
    padding: 5px 10px 5px 10px;
    vertical-align: top;
    width: calc(100% - 50px);
    float: left;
}
.wz-tb .wz-tb-bd span {
    margin-top: 0px;
    opacity: 0.7;
    font-size: 10px;
    display: inline-block;
}
.wz-tb .wz-tb-bd h4 {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 13px;
    margin-bottom: 0px;
}
	
.wz-tb {
    border-radius: 4px;
    position: relative;
    margin-top: 15px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    min-height: auto !important;
    display: table-caption;
    width: calc(100% - 40px) !important;
	margin-left: 45px;
	color: #fff;
	background: transparent;	
	float:left;
}	
.wz-sld-bar{
width: 250px;
height: 100%;
position: fixed;
right: -250px;
bottom: 0px;
z-index: 1000;
padding: 0px;
float: right;
opacity: 0;
transition: all ease-in 0.5s;
background: rgba(0,0,0,0.8);
}

.wz-form-drpdown{
	position: relative;
	right: 0;
}
.wz-form-drpdown .drpdown-btn{
	width: 100%;
	text-align: left;
	display: inline-block;
	border-radius: 4px;
	color: #597df0;
	line-height: 30px;
	text-decoration: none;
	font-size: 13px;
	text-decoration: underline;
	font-weight: bold;
}
.wz-form-drpdown .alter-box-bg {
	width: 300px;
	height: 350px;
	overflow: auto;
	position: absolute;
	right: -15px;
	top: 43px;
	z-index: 1000;
	background: #fff;
	padding: 15px;
	border-radius: 5px;
}
.wz-min-btn {
    width: 50px;
    height: 25px;
    position: absolute;
    transform: rotate(-90deg);
    z-index: 1;
    left: -38px;
    background: #000;
    text-align: center;
    top: 50%;
    border-radius: 4px 4px 0px 0px;
}
.wz-min-btn i{
margin-top: 5px;
float: left;
margin-left: 20px;
}

.wz-form .btn{
	margin-top:15px;
	text-align:left;
	font-size:13px;	
}
.wz-tt{
	margin:0;
}

.wz-top-wrp{
	padding: 15px 15px 15px 15px;
	background: #0b1522;
	color:#fff;
	}
.wz-top-wrp .wz-tt{
	margin-bottom:15px;
}
.wz-btm-wrp{
	padding: 15px;
	display: inline-block;
	position:relative;
}

.wz-btm-wrp::before{
	width: 2px;
	height: 70%;
	background: rgba(255,255,255,0.4);
	z-index: 0;
	position: absolute;
	content: "";
	left: 30px;
	top: 60px;
	bottom: 0;
}

.wz-btm-wrp .wz-tt{
	color:#fff;
}
.wz-form{
	margin-bottom:15px;
}

.wz-stk-btn{
	font-size: 25px;
	width: 70px;
	position: fixed;
	right: 0;
	top: 50%;
	bottom: 0;
	z-index: 1100;
	height: 105px;
	line-height: 25px;
	background: #597df0;
	color: #fff;
	padding: 15px 10px;
	font-weight: bold;
	border-radius: 4px 0px 0px 4px;
	text-align: center;
	transition: all ease-in 0.5s;

}
.wz-stk-btn:hover,.wz-stk-btn:focus{
	color:#fff;
	text-decoration:none;
}
.wz-stk-btn b{
	font-size: 20px;
	width: 100%;
	font-weight: normal;
	float: left;
}
.wz-stk-btn i{
	font-size:30px;
	color:#fff;
}
.wz-scrl{
	width:100%;
	height:100%;
	overflow:auto;	
}
.wz-tb.img-bg-green .wz-tb-tt img{
	border:3px solid #54e016;
}
.wz-tb.img-bg-red .wz-tb-tt img{
	border:3px solid #fd3b37;
}
.wz-tb.img-bg-yellow .wz-tb-tt img{
	border:3px solid #e2ca00;
}
.wz-tb.img-bg-blue .wz-tb-tt img{
		border:3px solid #597df0;
}


	
.col-p-5{
	width: 19%;
	margin-right: 1%;
	float: left;
}
.col-p-5:last-child{
	margin-right:0;
	width:20%;
}
	
.cmp-status {
	position: absolute;
	right: 12px;
	top: 5px;
	border: 2px solid #54e016;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	z-index: 1;
	background: #54e016;
	color: #fff;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
}

.rj-status {
	position: absolute;
	right: 12px;
	top: 5px;
	border: 2px solid #fd3b37;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	z-index: 1;
	background: #fd3b37;
	color: #fff;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
}

.cl-status {
	position: absolute;
	right: 12px;
	top: 5px;
	border: 2px solid #e2ca00;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	z-index: 1;
	background: #e2ca00;
	color: #fff;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
}


.ip-status {
    position: absolute;
    right: 10px;
    top: 14px;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    background: #fff;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.wz-msg-box {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 80px;
    border-radius: 4px;
    z-index: 1;
    background: #e11eda;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    font-weight: bold;
}

.wz-msg-box::before{
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #e11eda;
	position: absolute;
	bottom: -9px;
	right: 10px;
	content: "";
}


.ip-status::before{
	position: absolute;
	left: 6px;
	bottom: 9px;	
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 8px;
	z-index: 1;
	content: "";
	background: #e11eda;
	-webkit-animation-name: bubble-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: infinite;	
	-webkit-animation-delay:0.2s;		
    animation-name: bubble-animation;
    animation-duration: 1s;		
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-delay:0.2s;	
}


.ip-status::after{
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 8px;
	z-index: 1;
	content: "";
	right: 6px;
	bottom: 9px;
	background: #597df0;
		-webkit-animation-name: bubble-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: infinite;	
	-webkit-animation-delay:0.5s;			
    animation-name: bubble-animation;
    animation-duration: 1s;		
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-delay:0.5s;
}

.btn.btn-gray {
    background: transparent;
    border-color: #ccc;
    color: #0b1522;
}	
.btn.btn-gray:hover {
	background:#0b1522;
    border-color: #0b1522;	
	color:#fff;

}

.upload-btn{
	float:left;
	margin-top:5px;
	}
.upload-add-btn{
	border-radius: 30px;
	padding: 5px 12px;
	margin-left: -18px;
	float: left;
	margin-top: 5px !important;
	border: 1px solid #597df0;
}
.fn-normal{
font-weight: normal;
color: #777;
}

.classic-box{
	background: #e11eda;
	color: #fff;
	padding: 0px;
	border-radius: 4px;
	display: table;
	width: 100%;
}

.classic-box .tb-tt{
    display: table-cell;
    width: 60%;
    padding: 15px;
}
.classic-box .tb-tt span{
	opacity:0.7;
	font-size: 13px;
}
.classic-box .tb-tt a{
	font-size: 12px;
	padding: 3px 15px;
	border-radius: 30px;
	background: #fff;
	margin-top: 5px;
	float: left;
	color: #0b1522;
}
.classic-box .tb-tt a:hover{
	background:#0b1522;
	color:#fff;
	text-decoration:none;
}

.classic-box .tb-body{
	display: table-cell;
	background: #bf1aba;
	border-radius: 4px;
	padding: 15px;
	line-height: 50px;
	font-size: 70px;
	vertical-align: middle;
	text-align: center;	
}
.classic-box .tb-body i{
	opacity:0.5;
}


.alter-box{
	background: #fff;
	border-radius: 4px;
	margin-bottom: 30px;
	border: 1px solid #ccc;
}
.alter-box .tb-tt{
	padding:15px;
	border-radius:4px;
}
.alter-box .tb-tt span{
	opacity: 0.7;
	font-size: 13px;	
}
.alter-box .tb-tt h4{
	margin-bottom:0;
}
.alter-box .tb-body{
	padding:10px 15px;
}
.alter-box .tb-body a{
	color: #0b1522;
	font-size: 13px;
}
.alter-box .tb-body a i{
font-size: 18px;
margin-right: 7px;
}
.alter-box .tb-body ul{
	margin:0 30px 0px 40px;
	padding:0;
	
}
.alter-box .tb-body ul li{
	list-style: none;
	margin-bottom: 15px;
	position: relative;
	margin-top: 15px;
	display: inline-block;
}
.alter-box .tb-body ul li.unread::before{
	position: absolute;
	left: -45px;
	width: 7px;
	height: 7px;
	background: #20bc28;
	border-radius: 50%;
	content: "";
	top: 7px;
}
.alter-box .tb-body ul li.read::before{
	position: absolute;
	left: -45px;
	width: 8px;
	height: 8px;
	background: #ccc;
	border-radius: 50%;
	content: "";
	top: 6px;	
}
.alter-box .tb-body ul li.important::before{
	position: absolute;
	left: -45px;
	width: 8px;
	height: 8px;
	background: #fd3b37;
	border-radius: 50%;
	content: "";
	top: 6px;	
}
.alter-box .tb-body ul li a{ 
	color: #777;
	font-size: 14px;
	text-decoration:none;
}
.alter-box .tb-body ul li a:hover{
	color:#597df0; 

}
.alter-box .tb-body ul li i.left{
position: absolute;
left: -25px;
top: 0;
font-size: 16px;
}
.alter-box .tb-body ul li i.right{
	position: absolute;
	right: -30px;
	top: 0px;
	font-size:25px;
}
.alter-box .tb-body-alter ul{
	margin:0;
	padding:0;
	list-style:none;
}
.alter-box .tb-body-alter ul li{
	padding: 15px 15px 15px 50px;
	background: #fff;
	border-radius: 4px;
	position: relative;
	margin-bottom: 15px;
}
.alter-box .tb-body-alter ul li i{
	position: absolute;
	left: 18px;
	top: 10px;
	font-size: 25px;
}

.alter-box .tb-body-alter ul li a{
		color: #777;
	text-decoration:none;
}
.alter-box .tb-body-alter ul li a:hover{
	color:#597df0;
}
.tb-alt-scrl{
	height:300px;
	overflow:auto;
}

.alter-box-alter{
	background:transparent;
}
.alter-box-alter .tb-tt{	
	margin-bottom:15px;
}
.alter-box-alter .tb-tt h4{	
	padding-bottom: 15px;
	padding-top: 5px;
}

.alter-box-tt{
	margin:30px 0px 15px 0px;
}
	
.alter-box-bg{
	width:100%;
	height:350px;
	overflow:auto;
}

.custom-dropdown{
	background: #f6f6f6;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	width: 306px;
	z-index: 2000;
	top: 67px;
	padding: 15px;
	height: 290px;
	overflow: auto;
}
.custom-dropdown ul{
	margin:0 0 10px 0;
	padding:10px 0 0 0;
	background:#fff;
	border-radius:4px;
	
}
.custom-dropdown ul li{
	list-style:none;	
}
.custom-dropdown ul li a{
	padding: 5px;
	display: inline-block;
	width: 100%;
	color:#0b1522;
	
}
.custom-dropdown ul li a .checkbox{
    float: left;
    min-height: 22px;
    margin: 0 10px;
}
.custom-dropdown ul li a span{
	float:left;
	width: calc( 100% - 40px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: break-word;	
}
.custom-dropdown  .tag{
	background: #fff;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 12px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 10px;
	display: inline-block;
}

.user-pr-icon span{
	float: right;
    border: 1px solid #ccc;
    padding: 8px 10px;
    margin-top: 5px;
    border-radius: 4px;
}
.user-pr-icon span:hover{
	background:#eeeeee;
}
.user-pr-icon span a{
    color: #0b1522;
}
.user-pr-icon span a i{
     color: #597df0;
    font-size: 16px !important;
    float: left;
    margin-right: 10px;
}

.modal-success .modal-content .close {
    float: right;
    font-size: 25px;
}
.modal-success  .modal-content .modal-header{
	background: #18cf00;
	text-align: center;
	font-size: 40px;
	border-radius: 4px 4px 0px 0px !important;
	border: 0px;
	padding: 30px;
}

.modal-success  .modal-content .modal-header .modal-title {
	margin: 5px 0px 15px 0;
	font-size: 18px;
	font-weight: bold;
}

.modal-success .modal-content .modal-body {
    position: relative;
    padding: 30px;
    text-align: center;
}

.modal-success .modal-content .modal-body h3{
	margin-top: 10px;	
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
.modal-success .modal-content .modal-body p{
	font-size:14px;
}

.modal-success  .modal-content  .modal-footer{
	text-align: center !important;
	background: #fff;
	border-radius: 0px 0px 8px 8px;
	border: 0px;
	padding: 0px 0px 30px 0px; 
}

.modal-success  .modal-dialog.modal-sm {
    width: 400px;
}

.modal-warning .modal-content .close {
    float: right;
    font-size: 25px;
}
.modal-warning  .modal-content .modal-header{
	background: #fff;
	text-align: center;
	font-size: 40px;
	border-radius: 4px 4px 0px 0px !important;
	border: 0px;
	padding: 30px 30px;
}
.modal-warning  .modal-content .modal-header i,.modal-warning  .modal-content .modal-header h3{
	color: #e2ca00;
}

.modal-warning  .modal-content .modal-header .modal-title {
	margin: 5px 0px 15px 0;
	font-size: 18px;
	font-weight: bold;
}

.modal-warning .modal-content .modal-body {
    position: relative;
    padding: 30px;
    text-align: center;
	background: #e2ca00;
	color:#fff;
}

.modal-warning .modal-content .modal-body h3{
	margin-top: 10px;	
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
.modal-warning .modal-content .modal-body p{
	font-size:14px;
}

.modal-warning  .modal-content  .modal-footer{
	text-align: center !important;
	background: #fff;
	border-radius: 0px 0px 8px 8px;
	border: 0px;
	padding: 30px 0px 30px 0px; 
}

.modal-warning  .modal-dialog.modal-sm {
    width: 400px;
}


.modal-error .modal-content .close {
    float: right;
    font-size: 25px;
}
.modal-error  .modal-content .modal-header{
	background: #fd3b37;
	text-align: center;
	font-size: 40px;
	border-radius: 4px 4px 0px 0px !important;
	border: 0px;
	padding: 30px 30px;
}
.modal-error  .modal-content .modal-header i,.modal-error  .modal-content .modal-header h3{
	color: #fff;
}

.modal-error  .modal-content .modal-header .modal-title {
	margin: 5px 0px 15px 0;
	font-size: 18px;
	font-weight: bold;
}

.modal-error .modal-content .modal-body {
    position: relative;
    padding: 0px 30px 30px 30px;
    text-align: center;
	background: #fd3b37;
	color:#fff;
}

.modal-error .modal-content .modal-body h3{
	margin-top: 10px;	
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
.modal-error .modal-content .modal-body p{
	font-size:14px;
}

.modal-error  .modal-content  .modal-footer{
	text-align: center !important;
	background: #fff;
	border-radius: 0px 0px 8px 8px;
	border: 0px;
	padding: 30px 0px 30px 0px; 
}

.modal-error  .modal-dialog.modal-sm {
    width: 400px;
}
.field-validation-error{
	background:#fd3b37;
    color: #fff;
    margin-top: -4px;
    float: left;
    width: 100%;
    padding-left: 5px;
}
.ds-tt span{
	font-size:13px;
}
.ds-tt h4{
	font-size:16px;
}
.ds-dts h4{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.ds-dts h4 b{
	font-weight:normal;
}
.ds-dts h4 i{
	margin-right:10px;
}

.ds-dts span{
	font-size:12px;
	color: #777;
}

.ad-navbar{
	border-radius: 0px;
	display: inline-block;
	width: 100%;
	margin-top: 0px;
	padding: 15px 30px;
}
.ls-dts{
	}
.ls-dts span{
	font-size:12px;
	color:#777;
	display:inline-block;
	width:100%;
}
.ls-dts span.icon{
font-size: 40px;
}

.ls-dts b{
	font-size:14px;
	color:#0b1522;
	font-weight: normal;
	/*white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;*/
	display: inherit;
	overflow-wrap: break-word;		
}

.ls-dts .icn{
	font-size:22px;
	margin-right:5px;
	float:left;
}

.ls-dts label.checkbox, .ls-dts label.radio{
	margin-bottom:8px;
}

.ls-dts-bg{
	padding: 15px 15px;
	margin-top:15px;
}
.tp-frm-bg{
	background:#fff;
	width:100%;
	display:inline-block;	
	border-radius:4px;
	margin-bottom:30px;
	box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.3);
	position:relative;
}
.tp-frm-bg::before{
	background:#f6f6f6;
	width: 16%;
	height:100%;
	left:0;
	top:0;
	bottom:0;
	content:"";
	z-index:0;
	position:absolute;
	border-radius:4px 0px 0px 4px;
}
.tp-frm-bg::after{
	background:#597df0;
	width:33%;
	height:100%;
	right:0;
	top:0;
	bottom:0;
	content:"";
	z-index:0;
	position:absolute;
	border-radius:0px 4px 4px 0px;
	}
.ls-dts-frm-bg{
	padding: 15px 15px;
	border-radius: 0px 4px 4px 0px;
	z-index: 1;
}
.ls-dts-frm{
	color:#fff;		
}
.ls-dts-frm label{
	font-weight:normal;
	font-size:13px;
}
.ls-dts-frm .form-control{
	width:100%;
	background:#3f58a9;
	border:0px;
	border-radius:4px;
	color:#fff;
	font-size:13px;
}
.ls-dts-frm .btn.btn-default,.ls-dts-frm .btn.btn-danger{
	font-size: 12px;
	margin-bottom: 8px;	
		width:100%;
}
.ls-dts-frm .btn.btn-default{
	background: #fff;
	border-color: #fff;
}
.ls-dts-frm .btn.btn-default:hover{
	background:#000;
	color:#fff;
	border-color:#000;
}
.custom-tab-nav .nav-tabs > li > a {
	border-radius:4px;
	padding:10px 15px;
	font-size:14px; 

	margin-right:15px;
	color: #0b1522;
	border-top:2px solid #c0ccef;
}
.custom-tab-nav .nav-tabs > li.active > a{
	border-top:2px solid #597df0;
	background:#fff;
}
.custom-tab-nav .nav-tabs{
	border:0px;
	}

.custom-tab-nav .tab-content > .tab-pane{
	padding: 30px 0px;
}

.bg-lg-img {
    background: url(../img/laptop-img.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*
.bg-lg-img::before{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:50%;
	height:100%;
	background:#597df0;
	content:"";
	opacity:0.5;
}*/
.lg-ds::before{
	background:url(../img/login-bg-img.png) no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	content:"";
	z-index:-1;
	opacity:0.15;
	}
.lg-spl-txt{
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	bottom: 10%;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	}
.lg-spl-txt b{	
	font-size: 44px;		
}
.lg-pg-hgt{
	position:relative;
	min-height:600px;
}
.sidebar-nav .nav-ls .logo .tt{
	color: #0b1522;
	font-size: 20px;
	margin-left: 10px;
}
.search-btn{
	width: auto;
	float: left;
	margin-top: -5px;
}

.cmn-frm-bg{
	background:#fff;
	width:100%;
	display:inline-block;	
	border-radius:4px;
	margin-bottom:15px;
	box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.3);
	position:relative;
}

.cmn-frm-bg::before{
	background:#f6f6f6;
	width: 8%;
	height:100%;
	left:0;
	top:0;
	bottom:0;
	content:"";
	z-index:0;
	position:absolute;
	border-radius:4px 0px 0px 4px;
}
.cmn-frm-bg .ls-dts-bg{
	padding: 15px 15px 15px 15px;
	margin-top:0;	
}	
.cmn-frm-bg .popup-dts{
	background: #f6f6f6;
	width: 500px;
	min-height: 250px;
	position: absolute;
	z-index: 1;
	border: 2px solid #fff;
	border-radius: 4px;
	top: 95px;
	left: 100px;
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1);
	padding: 15px;
}

.cmn-frm-bg .popup-dts::before{	
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #f6f6f6;
	position: absolute;
	content: "";
	z-index: 1;
	left: 20px;
	top: -15px;	
}
.close-btn{
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
}

.view-mr-btn{
    float: right;
    background: #597df0;
    padding: 2px 6px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}

.view-mr-btn:hover,
.view-mr-btn:focus{
	background:#597df0;
	color:#fff;
}

.view-mr-btn + .view-mr-btn {
    margin-right:5px;
}

.cmn-tile-bg{
	background:#fff;
	width:100%;
	display:inline-block;	
	border-radius:4px;
	margin-bottom:15px;
	box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.3);
	position:relative;
}

.cmn-tile-bg::before{
	background:#f6f6f6;
	width: 100%;
	height: 22%;
	left:0;
	top:0;
	bottom:0;
	content:"";
	z-index:0;
	position:absolute;
	border-radius:4px 0px 0px 4px;
}
.cmn-tile-bg .ls-dts-bg{
	padding: 0px 15px;
	margin-top: 5px;
}
.cmn-tile-bg .view-mr-btn{
	margin-top: 15px;	
}

.cmn-tile-bg .popup-dts{
	background: #f6f6f6;
	min-width: 350px;
	min-height: 250px;
	position: absolute;
	z-index: 1;
	border: 2px solid #fff;
	border-radius: 4px;
	top: 95px;
	right: -160px;
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1);
	padding: 15px;
}

.cmn-tile-bg .popup-dts::before{	
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid #f6f6f6;
	border-bottom: 15px solid transparent;
	position: absolute;
	content: "";
	z-index: 1;
	left: -15px;
	top: 5px;
}
.cmn-tile-bg .popup-dts .close-btn{
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
}

.filter-popup{
	position: absolute;
	z-index: 5;
	width: 100%;	
	left: 0;
	background: rgba(0,0,0,0.5);
	right: 0;
	height: 100%;
	top: 123px;
}

.filter-content{
	float:right;
	width:300px;			
}

.filter-content .white-bg{
	margin-top:0;
	border-radius:0px;
}

.filter-content .custom-form-group{
	margin-bottom: 15px;	
}
.filter-content .custom-form-group h3{
	color:#0b1522;
}

.filter-content .custom-form-group label.checkbox,.filter-content .custom-form-group  label.radio{
	margin-bottom: 5px;
}

.filter-content .form-control{
	height: 30px;
	border-radius: 4px;
	font-size: 13px;		
}
	

.half-form{
	width: 47.5%;
	float: left;
	margin-right: 5%;
}
.half-form:last-child{
	margin-right: 0%;
}

.full-width{
	width:100%;
	float:left;	
}

.dis-none{ display: none !important;}
.dis-block{ display: block;} 
.required:after 
{
    content: "*";    
    color: red; 
}
.sidebar .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;    
}
.filter-popup{display:none;}
.view-mr-btn{
    margin-right:0px;
}


.ds-spl-bg{
	display:table;
}

.ds-spl-bg .ds-icn {
	display: table-cell;
	width: 50px;
	vertical-align: middle;
	text-align: left;
}

.ds-spl-bg .ds-icn i{
	font-size:30px;
}

.ds-spl-bg .ds-tt{
	display:table-cell;
	width:calc(100% - 200px;)
}


.custom-form-group h4.sb-dts{
	margin-top:5px;
}

.alter-table.table{
	background: #e0e6f7;
	margin-bottom: 0px;
	border-radius: 4px;
	font-size: 13px;
} 

.alter-table.table > thead > tr > th {
    font-weight: bold;
    background: #c0ccef;
    border-bottom: 0px;
    padding: 15px 15px;
	font-size: 13px;
}
.alter-table.table > tbody > tr > td{
/*	font-size: 13px;*/
}

.grey-alter-table.table{
	background: #fafafa;
	margin-bottom: 0px;
	font-size: 13px;
}

.grey-alter-table.table > thead > tr > th {
    font-weight: bold;
    background: #f6f6f6;
    border-bottom: 0px;
    padding: 15px 15px;
	font-size: 13px;
}
.grey-alter-table.table > tbody > tr > td{
	font-size: 13px;
}

.mt-m-xs{
	margin-top: -4px;
}
.mb-m-xs{
	margin-bottom: -4px;
}



.spl-tt{
	margin: -30px -30px 30px -30px;
	font-size: 15px;
	padding: 15px 30px;
	background: #f6f6f6;
	border-radius: 4px 4px 0px 0px;
}
.bl-panel-box{
	background:#597df0;
	border-radius:4px;
	margin-top:30px;
	display: table;
	width: 100%;
	}
.bl-panel-box .bl-panel-hd{
	background:#5172db;
	padding:30px;
	border-radius:4px 4px 0px 0px;	
}

.bl-panel-box .bl-panel-hd .bl-panel-icn{
	width: 70px;
	display: table-cell;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	padding-right: 30px;
}
.bl-panel-box .bl-panel-hd .bl-panel-icn i{
	font-size:40px;
}
.bl-panel-box .bl-panel-hd .bl-panel-tt{
	width:calc(100% - 100px);
	display:table-cell;
	color:#fff;	
}
.bl-panel-box .bl-panel-hd .bl-panel-tt span{
	font-size:13px;
		color:#fff;
}
.bl-panel-box .bl-panel-hd .bl-panel-tt h5{
	color:#fff;
	font-size:20px;
}

.bl-panel-box .bl-panel-hd .bl-panel-tt h4{
	color:#fff;
	font-size:30px;
}

.bl-panel-box .bl-panel-dts{
	margin: 0;
	padding: 30px 30px 15px 30px;
	float: left;
	width: 100%;
}

.bl-panel-box .bl-panel-dts .table{
	background: transparent;
	border-color: transparent !important;
	margin: 0;
}
.bl-panel-box .bl-panel-dts .table tr:hover{
	background:transparent !important;  
}
.bl-panel-box .bl-panel-dts .table > tbody > tr > td{
	padding:0 0px 15px 0;
	color:#fff;
	border-color:transparent;
	font-size:14px;	
}

.bl-panel-box .bl-panel-dts .table > tbody > tr > td:nth-child(1){
	opacity:0.8;
	font-size:13px;
	padding-right:10px;
}




.bl-panel-box ul li:nth-child(even) {
	color:#fff;
}

.at-panel-box{
	background:#e11eda;
	margin-top:30px;
	border-radius:4px;
}
.at-panel-box .at-panel-list{
	padding:30px;
	border-bottom:1px solid rgba(255,255,255,0.2);	
}


.at-panel-box .at-panel-list ul{
	margin:0;
	padding:0;	
}
.at-panel-box .at-panel-list ul li{
	list-style: none;
	padding-left: 50px;
	position: relative;
	color:#fff;
}
.at-panel-box .at-panel-list ul li:nth-child(1){
	font-size:13px;
}
.at-panel-box .at-panel-list ul li i {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 30px;
    z-index: 1;
    content: "";
	color:#fff;
}

.at-panel-box .at-panel-list h4{
	color: #fff;
	line-height: 1.6;
	font-weight: bold;
}
.at-panel-box .at-panel-list h4 span{
	font-size:13px;
}

.at-panel-list ul{
	margin:0;
	padding:0;
}
.at-panel-list ul{
}
.submenu-search-bg{
	margin: 15px 15px 15px 15px;
}

.submenu-search-bg .search-bg-adj{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 30px;
}
.submenu-search-bg .tt{
	margin-top:0;
	font-size:15px;	
}
.submenu-nav{	
	position: absolute;
	width: calc(100% - 60px);
	left: 60px;
	top: 70px;
	z-index: 1101;
	background: rgba(255,255,255,1);
	border-top: 1px solid #ccc;
	height: calc(100% - 30px);
	overflow: auto;
}

.sp-nav{
width: 100%;
display: inline-block;
padding: 0px 15px 30px 15px;
}
.sp-nav h4 {
    font-size: 15px;
	font-weight:bold;
}
.sp-nav h4 i{
font-size: 18px;
margin-right: 10px;
}
.sp-nav ul{
padding-left: 29px;
}
.sp-nav ul li ul{
	position:relative;	
}
 .sp-nav ul li ul::before{
	position: absolute;
	left: 15px;
	top: 0;
	bottom: 0;
	width: 1px;
	height: calc( 100% - 13px);
	background: rgba(0,0,0,0.2);
	content: "";
	z-index: 1;
}
.sp-nav ul li ul li{
	position:relative;
	}
.sp-nav ul li ul li::before{
	position: absolute;
	left: -13px;
	top: 15px;
	bottom: 0;
	width: 5px;
	height: 1px;
	background: rgba(0,0,0,0.2);
	content: "";
	z-index: 1;
	
}
.sp-nav ul li ul li a{
	font-size: 13px;
	opacity: 0.95;
}

.sp-nav ul li {
	list-style:none;
}

.sp-nav ul li a{
	padding: 5px 0px 5px 0px;
color: #0b1522;
display: inline-block;
}

.ls-dts.active p span{
color: #597df0;
}
.ls-dts.active p b{
color: #597df0;
}
.custom-tab-ul-md ul li a{
	padding:10px 15px !important;
}
.gray-bg{
	background: rgba(0,0,0,0.1);
	padding:30px 30px 0px 30px;
	margin-bottom: 30px;
}
.wdt-md-form{
	width: 74%;
}	
.icn-btn{
	float: left;
	padding: 5px 0px;
	margin-left: 10px;
	font-size: 20px;
	width: 30px;
	height: 40px;
	text-align: center;		
}

.sidebar-submenu{
background: rgba(0,0,0,0.5);
width: calc(100% - 60px);
height: calc(100% - 70px);
position: absolute;
left: 60px;
top: 70px;
z-index: 1200;
bottom: 0;
right: 0;
border-top: 1px solid #ccc;
overflow: auto;	
}
.sp-nav-bg{
	position: static;
	width: 300px;
	height: auto;
	background: #fff;
	min-height:530px;	
}

.bl-lg-panel-box{
background: #d3dcf4;
border-radius: 4px;
padding: 0px 0px 15px 0px;
border: 2px solid #5172db;
margin-bottom: 30px;
}
.bl-lg-panel-box .custom-form-group label{
/*	color: #666;*/
}
.bl-lg-panel-box .custom-form-group:last-child{
	/*margin-bottom:0px;*/
	} 

.bl-lg-panel-box-hd{
	width: 100%;
	display: inline-block;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 4px 4px 0px 0px;
	background: #5172db;
	color: #fff;
}
.bl-lg-panel-box-hd label {
	font-size: 13px;
	font-weight: normal;
	color: rgba(255,255,255,0.7);
}
.bl-lg-panel-box-hd h3{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 30px;
}
.vm-btn{
	background: #597df0;
	padding: 3px 13px;
	border-radius: 30px;
	font-size: 13px;
	margin-top: 10px;
	display: inline-block;
	color: #fff;
}
.vm-btn:hover{
	color:#fff;
}
.gray-panel-box{
	padding-top: 15px;
	background: #f6f6f6;
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1);
	border: 1px solid #fff;
}
.custom-tab-ul.custom-tab-ul-nav .nav-pills > li:last-child{
	float:right;
}
	
.custom-tab-pills .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover	{
	color: #fff;
	background-color: #597df0;	
	border-radius: 4px 4px 0px 0px;
	font-weight:bold;
}
.custom-tab-pills  .nav-pills > li > a {
	color:rgba(255,255,255,0.7);
	margin-left: 10px;
}
.custom-tab-pills  .nav-pills > li > a:hover{
	background:rgba(255,255,255,0.1);
	color:#fff;
}
.wht-table.table > thead > tr > th{
	background:transparent;
	padding: 10px 0px;
	color:#fff;	
}
.wht-table.table > tbody > tr > td{
	color:#fff;
	opacity:1 !important;
}

.at-panel-box .at-panel-list{
	color:#fff;
}

.at-panel-box .at-panel-list .custom-form-group label{
	color:#fff;
}
.at-panel-box .at-panel-list .form-control{
	border-color:#fff;
}
.at-panel-box .at-panel-list .custom-form-group {
    margin-bottom: 15px;
}

.mb-xs{margin-bottom: 5px !important;}
.mb-sm{margin-bottom: 10px;}
.mb-md{margin-bottom: 15px;}
.mb-lg{margin-bottom: 30px;}

.bl-panel-hgt{
	padding: 10px 30px;
	color: #fff;
	background: rgba(0,0,0,0.2);
	display: inline-block;
	float: right;
}
.bl-panel-box.custom-tab-pills .bl-panel-hd{
	padding: 0;
	border-radius: 4px 4px 0px 0px;	
}
.bl-panel-box.custom-tab-pills .bl-panel-hd .nav.nav-pills{
	padding-top: 10px;
}

.tx-dts{
	padding: 30px;
	background: #597df0;
	border-radius: 4px;
	color: #fff;
}
.tx-dts label{
	margin:15px 0px;	
}
.tx-dts label .cr{
	color:#4bff69;
}
.tx-dts label .dr{
	color:#e7f72f;
}
.tx-dts .form-control{
	margin-top: 7px;
	border-color:#fff;	
}
.tx-dts .sb-dts{
	margin:15px 0px;
}
.tx-dts .dts-bm{
	background: rgba(0,0,0,0.1);
	padding: 5px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bubble-animation {
    0%   {height: 5px;}   
    50%  {height: 13px;}
    100% {height: 5px;}
}

/* Standard syntax */
@keyframes bubble-animation {
  	0%   {height: 5px;}   
    50%  {height: 13px;}
    100% {height: 5px;}
}


/* --- Developer ---- */
.txt-wrap{overflow-wrap: break-word;
          width:100%;
}
.bootstrap-select .btn.btn-default {
    background: transparent;
    border-color: #cccccc;
    color: #0b1522;
    height: 40px;
}

.bootstrap-select  .btn.btn-default:hover{
    background: transparent;
    border-color: #cccccc;
    color: #0b1522;
}
.wdth80{
    width:80%;
}
.sidebar-nav .nav-ls ul li.active a{
background:#f6f6f6;
color:#597df0;
}

.sidebar-nav .nav-ls ul li.active ul li a{
color: #d9d9d9;
background:transparent;
}


.sidebar-nav .nav-ls ul li.active ul li a:hover{
background:transparent;
color:#597df0;
}

.sidebar-nav .nav-ls ul li a:hover {
    color: #597df0;
    font-weight: bold;
    background: #f6f6f6;
}
.sidebar-nav .nav-ls ul li.active ul li a.active{
color:#597df0;
}

.sidebar-nav .nav-ls ul li a ul li a:hover{
background:transparent;
color:#597df0;
}
.ds-notify {
    padding-top:5px;
    padding-bottom:5px;
}

.ds-notify:hover {
    background: #f6f6f6;
}
.jsgrid
{           
    overflow-wrap: break-word; 
    white-space: normal !important;    
}

.half-form:nth-child(even){
	margin-right: 0%;
}
.ronly{
    color : #808080;
}
.ronly:hover{
    cursor:not-allowed;
}
.m10{
    margin:10px;
}
.dyn-cont-box{
    border: 1px solid #f2f2f2;
padding: 10px;
margin: 5px;
}
.wrp-bg{
    padding:15px;
}
.cmn-frm-bg .popup-dts {
    width: 700px;
}


.custom-list{
	background: #f6f6f6;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	width: 100%;
	z-index: 2000;
	top: 67px;
	padding: 15px;
	height: 290px;
	overflow: auto;
}
.custom-list ul{
	margin:0 0 10px 0;
	padding:10px 0 0 0;
	background:#fff;
	border-radius:4px;
	
}
.custom-list ul li{
	list-style:none;	
}
.custom-list ul li a{
	padding: 5px;
	display: inline-block;
	width: 100%;
	color:#0b1522;
	
}
.custom-list ul li a .checkbox{
    float: left;
    min-height: 22px;
    margin: 0 10px;
}
.custom-list ul li a span{
	float:left;
	width: 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: break-word;	
}
.custom-list ul li a em{
	float:left;
	width: calc( 100% - 100px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: break-word;	
}
.custom-list  .tag{
	background: #fff;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 12px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 10px;
	display: inline-block;
}
.ls-dts.active p span{
color: #597df0;
}
.ls-dts.active p b{
color: #597df0;
}
.quarter-form {
    width: 20%;
    float: left;
    margin-right: 2.5%;
}
.custom-nav-pills.nav-pills > li.active > a, .custom-nav-pills.nav-pills > li.active > a:focus, .custom-nav-pills.nav-pills > li.active > a:hover {
 color: #333333;
 background-color: #fff;
 border-radius: 4px 4px 0px 0px;
 border-top: 2px solid #597df0;
}

.tab {
    padding: 30px 15px;
    border-radius: 4px 4px 0px 0px;
    width:100%;
}
.custom-nav-btn{
background: #fff;
display: inline-block;
width: 100%;
padding: 0px 30px 30px 30px;
border-radius: 0px 0px 4px 4px;
}

.ovr-hd{overflow:hidden;}

.menu-show {
        display: block;
    }

    .menu-hide {
        display: none;
    }

    .gray-bg-md{
background: rgba(0,0,0,0.1);
padding: 15px;
}

.gray-lg-bg-md{
padding: 15px 15px 0px 15px;
background: rgba(0,0,0,0.05);
}

.panel-tt{
background: #597df0;
margin: 0;
padding: 15px;
color: #fff;
border-radius: 4px 4px 0px 0px;
}

.fn-normal{font-weight: normal;}
.p-b-md{padding-bottom:30px;}
.p-b-sm{padding-bottom:15px;}
.m-b-sm{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mt-xs{margin-top:5px;}
.btn-sm{padding:5px 10px;}
.bost-sel-ht-sm .bootstrap-select .btn.btn-default {
   height: 34px;
}

.custom-nav-pills.nav-pills > li.active > a, .custom-nav-pills.nav-pills > li.active > a:focus, .custom-nav-pills.nav-pills > li.active > a:hover {
    color: #333333;
    background-color: #fff !important;
}

/* Hide all steps by default: */

.tab {
	display: none;
	background: #fff;
	float: left;
}

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #fff;
}

.custom-nav-pills.nav-pills > li > a {
	color: rgba(255,255,255,0.5);
	cursor: default;
	background: transparent !important;
	border-color: transparent;
	border-top-color: transparent;
	padding: 10px 15px;
	margin: 0px 15px;
}

.custom-nav-pills.nav-pills > li > a span {
	width: 100%;
	float: left;
}

.custom-nav-pills.nav-pills > li.active > a, .custom-nav-pills.nav-pills > li.active > a:focus, .custom-nav-pills.nav-pills > li.active > a:hover {
	color: #333333;
	background-color: #fff !important;
}

.custom-st-fd-box {
	background: #f5f5f5;
	padding: 15px 0px;
	border-radius: 4px;
	display: inline-block;
}

.custom-st-fd-btn {
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	display: inline-block;
}

.custom-st-tb-th.table {
	border: 0px;
}

.custom-st-tb-th.table > tbody > tr > th {
	background: #3080e3;
	color: #fff;
	border: 0px solid #ccc;
}

.custom-st-tb-th.table > tbody > tr > td {
	border: 0px;
}

/*---- End Developer --- */

.modal-pr-vw .modal-lg{
	width:85%;	
}

.modal-pr-vw .modal-header .hd-tt-bg{
	
	padding: 0px 15px 15px 15px;
}
.modal-pr-vw .modal-header {
	height:auto;
	padding:15px 15px 0px 15px;
	border-bottom: 0px;
}

.modal-pr-vw .modal-header .close{
	position: absolute;
	right: 20px;
	top: 25px;
	z-index: 1;
	color: #fff;
	opacity: 1;
}

.modal-pr-vw .modal-header  .white-bg{
	color:#0b1522;
}

.modal-pr-vw .modal-header .ds-tt span {
    font-size: 13px;
    opacity: 0.75;
}
.modal-pr-vw .modal-header .ds-tt h4 {
    font-size: 14px;
}

.modal-pr-vw .modal-body{
	background:#c0ccef;
}
.modal-pr-vw .bl-panel-box .bl-panel-hd{
	padding:15px;
}

.modal-pr-vw .bl-panel-box .bl-panel-dts{
	padding:15px;
}

.modal-pr-vw .modal-footer{
	border-color:transparent;
}
.modal-pr-vw  .modal-content{
border: #fff;
box-shadow:none;
}
.modal-pr-vw  .modal-content .custom-form-group{
	margin-bottom:15px;
}

.sb-tt{
	margin: 0;
}
.sb-tt span{
	font-size: 13px;
	width: 100%;
	float: left;
	margin-bottom: 5px;
}

/* ------------*/
.reg-no{
right: 0px;
top: 0px;
background: #e11eda;
padding:10px 15px;
border-radius: 4px;
z-index: 1000;
margin-bottom:15px;
}

.reg-no .custom-form-group{
	margin-bottom:0px;	
}

.reg-no label{
color: #fff;
}

.reg-no h4{
font-size: 25px;
color: #fff;
margin-bottom: 0px;
}


.mb-s-md{
margin-bottom: 15px;		
}

.pb-null{
	padding-bottom:0px;
}

.cm-bl-box{
	padding: 15px 0px;
	background: #5172db;
	color: #fff;
	display: inline-block;
	margin-bottom: -20px;
}

.cm-bl-box label{
	color:#fff;
}

.custom-form-group .hgt-txt,.hgt-txt{	
	font-size: 16px;
	font-weight: bold;
}

.cmn-panel-box{
	padding:30px 30px 0px 30px;
}

.btn-circle{
	display: block;
	padding: 5px 0px;
	border-radius: 50%;
	margin-right: 5px;
	border: 1px solid #ccc;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #597df0;
	line-height: 30px;
	background: #fff;	
}
.btn-circle:hover{
	background:#597df0;
	color:#fff;
	border-color:#597df0;
}
.br-rd{
	border-radius:4px;
}

.hint{
	background: #fdf998;
	font-size: 13px;
	padding: 5px 10px;
	border-radius: 4px;
}
.mt-null{
	margin-top: 0;
}

.bg-white{
	background:#fff;
	color:#000;
}

.bg-green{
	background:#20bc28;
	color:#fff;
}

.bg-blue{
	background:#597df0;
	color:#fff;
}

.bg-red{
	background:#fd3b37;
	color:#fff;
}
.bg-yellow{
	background:#e2ca00;
	color:#fff;
}
.fn-s-md{
	font-size: 20px;
}
.fn-s-lg{
 font-size: 28px;
}

