@model IOAS.Models.IPDashboard.IPDashboardView
@{
    ViewBag.Title = "GroupTravelInsurance";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
@using (Html.BeginForm("GroupTravelInsurance", "IPDashboard", FormMethod.Post))
{
    <div id="addnewstatusbar">
        <div class="row hd-tt-bg">
            <div class="col-md-4">
                <h3>Travel Insurance</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-wrapper">
                <div class="white-bg">
                 
                    <div class="row">
                        <div class="">
                            <div class="form-group custom-form-group">

                                <table border=0 style="font-size:large;">
                                    <tr>
                                        <td align="justify">
                                            The new Group Travel Insurance policy has been initiated with M/s. Thomas Cook and the policy is active from 06th March 2018. The policy provider is M/s. Bajaj Allianz General Insurance Company Pvt., Ltd.,
                                            <br /><br />
                                            All the staff members of IIT Madras can avail this facility when they do an international travel. The premium rates are calculated at Rs. 55.46 per day and the rates are applicable worldwide (including US and Canada). For more details on the coverage and benefits, click on the link below.<br /><br />
                                            <ul style="margin-left:30px">
                                                <li><a href="~/Content/PDFfiles/GTI_Bajaj_Allianz.pdf" target="_blank">Group Travel Insurance – Coverage & Benefits </a></li>
                                                <li><a href='~/Content/PDFfiles/GTI_Coverage_Benefits.pdf' target="_blank">Group Business Travel Insurance Policy – Bajaj Allianz</a></li>
                                                <li><a href='~/Content/PDFfiles/GTI_Terms _Conditions.PDF' target="_blank">Group Business Travel Insurance Policy – Terms & Conditions</a></li>
                                            </ul>
                                            To avail this facility, please use the below link to fill up all the required details. Please ensure the data provided by you is accurate. Also ensure that the details are filled and submitted at least 3 days before the actual travel date.<br /><br />

                                </table>
                                <ul style="margin-left:30px;font-size:large;">
                                    <li>
                                        <a class="" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Group Travel Insurance Form</a><br>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="txt-error txt-red">@Html.ValidationSummary(true)</div>
            </div>
        </div>
    </div>




}
